# Salin file ini menjadi .env.local dan isi nilainya

# Untuk lokal (Docker):
# NEXT_PUBLIC_API_URL=http://localhost:8080/api

# Untuk Vercel production:
NEXT_PUBLIC_API_URL=https://clothing-m-api.vercel.app/api
