# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# Production
build/

# Testing
coverage/

# Environment variables
.env*.local

# Docker
.docker/

# OS Files
.DS_Store
Thumbs.db

# Database Data
database/data/
